<div class="wrapper">
    <div class="contenedor">
      <button class="btn-get" (click)="obtenerMensajeFetch()">Funcion Obtener (GET)</button>
      <button class="btn-post" (click)="crearUsuario()">Funcion Crear (POST)</button>
      <button class="btn-put" (click)="actualizarUsuario()">Funcion Actualizar (PUT)</button>
      <button class="btn-delete" (click)="eliminarUsuario()">Funcion Eliminar (DELETE)</button>
    </div>
  
    <p class="mensaje">{{ mensaje }}</p> <!-- Muestra el mensaje que se obtiene en el componente -->
  </div>
  